<strong>{{ title }}</strong><br>
{{ message }}<br>
<a href="{{ ruleUrl }}">{{ ruleName }}</a>: {{ state }}<br>
<ul>
{% for e in evalMatches %}
<li>{{ e.metric }}: {{ e.value }} ({{ e.tags }})</li>
{% endfor %}
</ul>
